/* About Webpage */

.about_middle {
    position: relative;
    left: 50%;
    margin-left: -32.5%;
    grid-template-columns: auto;
    margin-top: 10%;
    float: left;
    width: 65%;
    height: auto;
    margin-bottom: 72px;
    filter: drop-shadow(0 0 10px #000);
    text-align: center;
    background-color: white;
}

.about_middle section {
    display: grid;
    height: auto;
    padding: 25px;
}

.about_middle section p {
    font-family: 'Righteous', cursive;
    font-size: 2.5rem;
    font-weight: lighter;
}

#about {
    line-height: 1.4;
    font-size: 1.15rem;
    margin-top: 20px;
    float: left;
    text-align: justify;
}

.about_middle section h2 {
    font-size: 1.75rem;
    float: left;
    margin-top: 20px;
}

.list {
    font-size: 1rem;
    padding: 20px;
    float: left;
    clear: both;
    text-align: left;
    line-height: 1.8;
}

#last_para {
    text-align: justify;
    float: left;
    clear: both;
    font-size: 1.15rem;
    padding-bottom: 25px;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    /* About Webpage */

    .about_middle {
        left: 0;
        grid-template-columns: repeat(auto-fit, minmax(5rem));
        margin-top: 22%;
        width: 90%;
        margin-left: 5%;
        height: 70%;
    }

    .about_middle section {
        padding: 20px;
        margin-bottom: -5%;
    }

    .about_middle section p {
        font-size: 25px;
    }

    #about {
        line-height: 1.5;
        font-size: 13px;
        margin-top: 5px;
    }

    .about_middle section h2 {
        font-size: 15px;
        float: left;
        margin-top: 20px;
    }

    .list {
        font-size: 13px;
        line-height: 1.5;
        padding-bottom: 10px;
    }

    #last_para {
        font-size: 13px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    /* About Webpage */ 
    .about_middle {
        left: 0;
        grid-template-columns: repeat(auto-fit, minmax(19rem));
        margin-top: 10%;
        width: 90%;
        margin-left: 5%;
    }

    .about_middle section {
        padding: 20px;
        margin-bottom: 12.5%;
    }

    .about_middle section p {
        font-size: 40px;
    }

    #about {
        line-height: 1.5;
        font-size: 25px;
        margin-top: 5px;
    }

    .about_middle section h2 {
        font-size: 35px;
        float: left;
        margin-top: 20px;
    }

    .list {
        font-size: 25px;
        line-height: 1.5;
        padding-bottom: 10px;
    }

    #last_para {
        font-size: 25px;
    }
}